{% extends 'base.html' %}
{% block title%}Users management{%endblock%} 
{% block content%}

    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h1>Users</h1>
        <h6>Click to promote to expert</h6>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="list-group">
            {% for item in users %}
            <a href="{{ url_for('promote', user_id = item['id']) }}" class="list-group-item" {% if item.expert==1 %} active {%endif%}>
              <h4 class="list-group-item-heading">{{item.name}}</h4>
            </a>
            {% endfor %}
          </div>
        </div><!-- /.col-lg-12 -->
      </div>

    </div> <!-- /container -->

{%endblock%}
